.LostPassword {
  background-color: white;
}

.LostPassword .breadcrumb:before {
  content: '\E5CB';
}

#modal-lost-password span.email {
  font-style: italic;
  font-weight: bold;
  color: cadetblue;
}
